.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/baerMainjpg.jpeg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-voZE4um43KOdO);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/professional_services/images/woman32879561920Jpg.jpeg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    flex-column-gap: 0px;
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-voZE4um43KOdO);
  }
}
.freeBox__cAgNu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-gvak40d-DBKLN);
  min-width: 0;
  padding: var(--token-WJkpCq9byD1Vq);
}
.h1__jddaR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section__hp3Vn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__kdyuw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__eLdm1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-gvak40d-DBKLN);
  margin-top: 58px;
  margin-bottom: 58px;
  min-width: 0;
  padding: var(--token-WJkpCq9byD1Vq);
}
.freeBox___23Yyo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___23Yyo > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___23Yyo > :global(.__wab_flex-container) > *,
.freeBox___23Yyo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___23Yyo > :global(.__wab_flex-container) > picture > img,
.freeBox___23Yyo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns__ts2H2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 1px 0px 0px;
}
.columns__ts2H2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__ts2H2 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ts2H2 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ts2H2 > :global(.__wab_flex-container) > *,
.columns__ts2H2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ts2H2 > :global(.__wab_flex-container) > picture > img,
.columns__ts2H2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ts2H2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 1px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ts2H2 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ts2H2 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ts2H2 > :global(.__wab_flex-container) > *,
  .columns__ts2H2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ts2H2 > :global(.__wab_flex-container) > picture > img,
  .columns__ts2H2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.column__yXs1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  background: var(--token-aDVGVVeNIK3aM);
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__wNdJ2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#222222d1, #222222d1),
    url("/plasmic/professional_services/images/baerMainjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.freeBox___9Keoo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox___9Keoo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___9Keoo > :global(.__wab_flex-container) > *,
.freeBox___9Keoo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Keoo > :global(.__wab_flex-container) > picture > img,
.freeBox___9Keoo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1__yiXu7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fo1c3LIMjCmVb);
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__yiXu7 {
    margin-top: calc(0px + 20px) !important;
  }
}
.text__iBsF6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 477px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-fo1c3LIMjCmVb);
  padding-right: 0px;
  min-width: 0;
}
.formContainer2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  background: none;
  padding: 0px;
}
.formContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.formContainer2 > :global(.__wab_flex-container) > *,
.formContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formContainer2 > :global(.__wab_flex-container) > picture > img,
.formContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.columns___9LNz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns___9LNz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns___9LNz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 12px) * 6 / 12);
}
.columns___9LNz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 12px) * 6 / 12);
}
.columns___9LNz > :global(.__wab_flex-container) > *,
.columns___9LNz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9LNz > :global(.__wab_flex-container) > picture > img,
.columns___9LNz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9LNz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9LNz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9LNz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 12px) * 12 / 12);
  }
}
.column__nDk6G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput__d7QJj {
  position: relative;
  width: 100%;
  height: 42px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.column___1Qs0H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput__mrPjI {
  position: relative;
  width: 100%;
  height: 42px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.column__dw9Sa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput___2Jcev {
  position: relative;
  width: 100%;
  height: 42px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.column___0Yi8Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.textInput__jsEju {
  position: relative;
  width: 100%;
  height: 42px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.columns__hb7Q {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.columns__hb7Q > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns__hb7Q > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 12px) * 12 / 12);
}
.columns__hb7Q > :global(.__wab_flex-container) > *,
.columns__hb7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hb7Q > :global(.__wab_flex-container) > picture > img,
.columns__hb7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hb7Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hb7Q > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hb7Q > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 12px) * 12 / 12);
  }
}
.column___9B56S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput__iJbeA {
  position: relative;
  width: 100%;
  height: 42px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.column__kOnFh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textarea {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  min-height: 80px;
  min-width: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #00000040;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 20px;
  flex-shrink: 0;
}
.svg__fhi3A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qf8Vy {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__keZf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__hOn30 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#efefefa6, #efefefa6),
    url("/plasmic/professional_services/images/depthOfField18687231920Jpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section__hOn30 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 26px 20px 50px;
  }
}
.freeBox__ixTLm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-gvak40d-DBKLN);
  min-width: 0;
  padding: var(--token-WJkpCq9byD1Vq);
}
.freeBox__jDllj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jDllj {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__b8HNx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__b8HNx > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__b8HNx > :global(.__wab_flex-container) > *,
.freeBox__b8HNx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b8HNx > :global(.__wab_flex-container) > picture > img,
.freeBox__b8HNx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns__svaBe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.columns__svaBe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__svaBe > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 25px) * 4 / 12);
}
.columns__svaBe > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 25px) * 4 / 12);
}
.columns__svaBe > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 25px) * 4 / 12);
}
.columns__svaBe > :global(.__wab_flex-container) > *,
.columns__svaBe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__svaBe > :global(.__wab_flex-container) > picture > img,
.columns__svaBe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__svaBe {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__svaBe > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__svaBe > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 25px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__svaBe > :global(.__wab_flex-container) > *,
  .columns__svaBe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__svaBe > :global(.__wab_flex-container) > picture > img,
  .columns__svaBe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
.column__w3Mqd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__pBcze {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__pBcze > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pBcze > :global(.__wab_flex-container) > *,
.freeBox__pBcze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pBcze > :global(.__wab_flex-container) > picture > img,
.freeBox__pBcze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__eoHhi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__sVZfa {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__js170 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__js170 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__js170 > :global(.__wab_flex-container) > *,
.freeBox__js170 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__js170 > :global(.__wab_flex-container) > picture > img,
.freeBox__js170
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__rXiA4 {
  margin-top: calc(0px + 4px) !important;
}
.column__l0Kz2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__jvrcO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__jvrcO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jvrcO > :global(.__wab_flex-container) > *,
.freeBox__jvrcO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvrcO > :global(.__wab_flex-container) > picture > img,
.freeBox__jvrcO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__lIgDz {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__xArxv {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox___6UkX {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___6UkX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___6UkX > :global(.__wab_flex-container) > *,
.freeBox___6UkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6UkX > :global(.__wab_flex-container) > picture > img,
.freeBox___6UkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__uoinI {
  margin-top: calc(0px + 4px) !important;
}
.column__jvRn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ypiz0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__ypiz0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ypiz0 > :global(.__wab_flex-container) > *,
.freeBox__ypiz0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ypiz0 > :global(.__wab_flex-container) > picture > img,
.freeBox__ypiz0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__wL8I1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__ksvgs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ake49 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ake49 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ake49 > :global(.__wab_flex-container) > *,
.freeBox__ake49 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ake49 > :global(.__wab_flex-container) > picture > img,
.freeBox__ake49
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h3__xDxcu {
  margin-top: calc(0px + 4px) !important;
}
.footer:global(.__wab_instance) {
  position: relative;
}
