.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  position: relative;
  min-width: 0;
  padding: 30px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox___4LrAi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__fhd1R {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__kxIzb {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kxIzb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__kxIzb > :global(.__wab_flex-container) > *,
.freeBox__kxIzb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kxIzb > :global(.__wab_flex-container) > picture > img,
.freeBox__kxIzb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.h3 {
  display: flex;
  flex-direction: row;
  margin-top: calc(0px + 7px) !important;
}
