.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/baerMainjpg.jpeg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-voZE4um43KOdO);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/professional_services/images/woman32879561920Jpg.jpeg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    flex-column-gap: 0px;
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-voZE4um43KOdO);
  }
}
.freeBox___8YNmw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-gvak40d-DBKLN);
  min-width: 0;
  padding: var(--token-WJkpCq9byD1Vq);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefefa6;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox__alogp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-gvak40d-DBKLN);
  min-width: 0;
  padding: var(--token-WJkpCq9byD1Vq);
}
.freeBox__pOmtP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__pOmtP {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__gFfPs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__gFfPs > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__gFfPs > :global(.__wab_flex-container) > *,
.freeBox__gFfPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gFfPs > :global(.__wab_flex-container) > picture > img,
.freeBox__gFfPs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.foreground {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: none;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__smb4M {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__smb4M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__smb4M > :global(.__wab_flex-container) > *,
.freeBox__smb4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smb4M > :global(.__wab_flex-container) > picture > img,
.freeBox__smb4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2 {
  margin-top: calc(0px + 16px) !important;
}
.text__wmUcv {
  height: auto;
  text-align: justify;
}
.text___4L2Eg {
  height: auto;
  text-align: justify;
}
.freeBox__j0BgY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__j0BgY > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__j0BgY > :global(.__wab_flex-container) > *,
.freeBox__j0BgY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j0BgY > :global(.__wab_flex-container) > picture > img,
.freeBox__j0BgY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__uIRbd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__bYz8 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-voZE4um43KOdO);
  flex-shrink: 0;
}
.freeBox__lHysk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.svg__vbBbq {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-voZE4um43KOdO);
  flex-shrink: 0;
}
.freeBox__erwlH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.h3__vmo4X {
  height: auto;
}
.svg__p8Gv8 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-voZE4um43KOdO);
  flex-shrink: 0;
}
.freeBox__jJaL6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid #0000001a;
}
.h3__la1Ey {
  height: auto;
}
.svg__lkaHz {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-voZE4um43KOdO);
  flex-shrink: 0;
}
.freeBox__z2Gm2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.h3__cx6Ar {
  height: auto;
}
.svg___58KGx {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-voZE4um43KOdO);
  flex-shrink: 0;
}
.freeBox__jYUiw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 0px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__jYUiw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jYUiw > :global(.__wab_flex-container) > *,
.freeBox__jYUiw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jYUiw > :global(.__wab_flex-container) > picture > img,
.freeBox__jYUiw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__atRe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 12px;
}
.freeBox__atRe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__atRe > :global(.__wab_flex-container) > *,
.freeBox__atRe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__atRe > :global(.__wab_flex-container) > picture > img,
.freeBox__atRe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__yio0S {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__rpYAc {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__o2R7U {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__o2R7U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o2R7U > :global(.__wab_flex-container) > *,
.freeBox__o2R7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o2R7U > :global(.__wab_flex-container) > picture > img,
.freeBox__o2R7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__u0Y0R {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 12px;
}
.freeBox__u0Y0R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__u0Y0R > :global(.__wab_flex-container) > *,
.freeBox__u0Y0R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u0Y0R > :global(.__wab_flex-container) > picture > img,
.freeBox__u0Y0R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cutw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__vxHqU {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__iW7Qu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__iW7Qu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__iW7Qu > :global(.__wab_flex-container) > *,
.freeBox__iW7Qu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iW7Qu > :global(.__wab_flex-container) > picture > img,
.freeBox__iW7Qu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__glUbf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-fo1c3LIMjCmVb);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 12px;
}
.freeBox__glUbf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__glUbf > :global(.__wab_flex-container) > *,
.freeBox__glUbf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__glUbf > :global(.__wab_flex-container) > picture > img,
.freeBox__glUbf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__qriOo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-voZE4um43KOdO);
  border-radius: 8px;
  padding: 8px;
}
.svg__kuEso {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___8Kd0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___8Kd0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___8Kd0 > :global(.__wab_flex-container) > *,
.freeBox___8Kd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Kd0 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Kd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___4HhcJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: none;
  width: 100%;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4HhcJ {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: none;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox___4FJcm {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-gvak40d-DBKLN);
  padding: var(--token-WJkpCq9byD1Vq);
}
.freeBox___4FJcm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4FJcm > :global(.__wab_flex-container) > *,
.freeBox___4FJcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4FJcm > :global(.__wab_flex-container) > picture > img,
.freeBox___4FJcm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4FJcm {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4FJcm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___4FJcm > :global(.__wab_flex-container) > *,
  .freeBox___4FJcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4FJcm > :global(.__wab_flex-container) > picture > img,
  .freeBox___4FJcm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.testimonial___35Brg:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial___35Brg:global(.__wab_instance) {
    position: relative;
  }
}
.img___60Rn {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img___60Rn > picture > img {
  object-fit: cover;
}
.img___60Rn > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___7A2Kg {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox___7A2Kg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7A2Kg > :global(.__wab_flex-container) > *,
.freeBox___7A2Kg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7A2Kg > :global(.__wab_flex-container) > picture > img,
.freeBox___7A2Kg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__gzpvF {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__lb71U {
  color: var(--token-voZE4um43KOdO);
}
.testimonial__zr56:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial__zr56:global(.__wab_instance) {
    position: relative;
  }
}
.img__fDIc {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img__fDIc > picture > img {
  object-fit: cover;
}
.img__fDIc > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__sgP0U {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__sgP0U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__sgP0U > :global(.__wab_flex-container) > *,
.freeBox__sgP0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgP0U > :global(.__wab_flex-container) > picture > img,
.freeBox__sgP0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___2ThxQ {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5___77CRg {
  color: var(--token-voZE4um43KOdO);
}
.testimonial__tSqSx:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial__tSqSx:global(.__wab_instance) {
    position: relative;
  }
}
.img__tlSpU {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.img__tlSpU > picture > img {
  object-fit: cover;
}
.img__tlSpU > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__z4Tx3 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__z4Tx3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__z4Tx3 > :global(.__wab_flex-container) > *,
.freeBox__z4Tx3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z4Tx3 > :global(.__wab_flex-container) > picture > img,
.freeBox__z4Tx3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__kzvfh {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__rg7I0 {
  color: var(--token-voZE4um43KOdO);
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
