.root {
  flex-direction: column;
  display: flex;
  background: #ffffff;
  width: 100%;
  box-shadow: none;
  position: relative;
  min-width: 0;
  border-radius: 16px;
  padding: 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.freeBox__tZfL {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tZfL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tZfL > :global(.__wab_flex-container) > *,
.freeBox__tZfL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tZfL > :global(.__wab_flex-container) > picture > img,
.freeBox__tZfL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetChildren {
  font-style: italic;
}
.freeBox__h1SXm {
  flex-direction: row;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__h1SXm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__h1SXm > :global(.__wab_flex-container) > *,
.freeBox__h1SXm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h1SXm > :global(.__wab_flex-container) > picture > img,
.freeBox__h1SXm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img__vFhy {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
}
.freeBox__gIpoR {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__gIpoR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gIpoR > :global(.__wab_flex-container) > *,
.freeBox__gIpoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gIpoR > :global(.__wab_flex-container) > picture > img,
.freeBox__gIpoR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__uV3FQ {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.h5__ybyDs {
  color: var(--token-voZE4um43KOdO);
}
